<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment1 1.1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navmenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moment1._1.styles.css" asp-append-version="true" />

    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="navbar-brand" asp-area="" asp-page="/Index">Moment1.1 <br /> <span>Webbutveckling med
                <span>.NET</span></span></a>
        <div class="header-content">
            <div id="date-container">
                @{
                    var date = DateTime.Now.ToString("yyyy-MM-dd");
                }
                <p>Dagens datum är: <span>@date</span>
                </p>
            </div>
            <!-- knapp att öppna menyn med på mindre skärmar-->
            <button class="menu-btn open" id="menu-btn">
                <span class="menu-icon">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
            </button>
        </div>
    </header>

    <div class="container">
        <nav id="nav-menu">
            <ul>
                <li class="@GetActiveClass("/Index")">
                    <a class="" asp-area="" asp-page="/Index">Start</a>
                </li>
                <li class="@GetActiveClass("/Razor")">
                    <a class="" asp-area="" asp-page="/Razor">Razor</a>
                </li>
                <li class="@GetActiveClass("/About")">
                    <a class="" asp-area="" asp-page="/About">Om sidan</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        Av Kajsa Classon &ndash; Kontakta mig via e-post: <a
            href="mailto:kacl1200@student.miun.se">kacl1200@student.miun.se</a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navmenu.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>


@functions {
    public string GetActiveClass(string page)
    {
        @* Hämta aktuell sida från route-data *@
        var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
        @* Om akytell sida matchar sätt klass till "active" *@
        return currentPage != null && currentPage.Equals(page, StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
    }
}